.itemlinks {
  height: 140px;
  width: 94px;
  right: 47px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  transition: 0.15s ease;
}

.itemlinks:hover {
  transition: 0.15s ease;
  opacity: 0;
}

.itemlinks-socket {
  height: 47.4645px;
  z-index: 1;
  width: 50%;
  background: url('https://res.cloudinary.com/dmjolhdaq/image/upload/v1560518649/PoeWishlist/Socket.png');
}

.itemlinks-link-1 {
  height: 47.4645px;
  position: absolute;
  z-index: 3;
  width: 50%;
  top: 16px;
  left: 30%;
  background: url('https://res.cloudinary.com/dmjolhdaq/image/upload/v1560518649/PoeWishlist/Socket_Link_Horizontal.png')
    no-repeat;
}

.itemlinks-link-2 {
  height: 47.4645px;
  position: absolute;
  z-index: 3;
  width: 50%;
  top: 28px;
  left: 63.5px;
  background: url('https://res.cloudinary.com/dmjolhdaq/image/upload/v1560518649/PoeWishlist/Socket_Link_Vertical.png')
    no-repeat;
}

.itemlinks-link-3 {
  height: 47.4645px;
  position: absolute;
  z-index: 3;
  width: 50%;
  top: 64px;
  left: 28px;
  background: url('https://res.cloudinary.com/dmjolhdaq/image/upload/v1560518649/PoeWishlist/Socket_Link_Horizontal.png')
    no-repeat;
}

.itemlinks-link-4 {
  height: 47.4645px;
  position: absolute;
  z-index: 3;
  width: 50%;
  top: 76px;
  left: 16px;
  background: url('https://res.cloudinary.com/dmjolhdaq/image/upload/v1560518649/PoeWishlist/Socket_Link_Vertical.png')
    no-repeat;
}

.itemlinks-link-5 {
  height: 47.4645px;
  position: absolute;
  z-index: 3;
  width: 50%;
  top: 111px;
  left: 28px;
  background: url('https://res.cloudinary.com/dmjolhdaq/image/upload/v1560518649/PoeWishlist/Socket_Link_Horizontal.png')
    no-repeat;
}
